<div class="contactus">
<div class="container">
  <div class="row">
    <div class="col-sm-5 con-img-col">
      <div class="con-img"></div>
    </div>
    <div class="col-sm-7">
      <div class="contact-form">
      <h3>Get in touch</h3>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
      magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="exampleFormControlInput1">First Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" >
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="exampleFormControlInput1">Last Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" >
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" >
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label for="exampleFormControlInput1">Message</label>
            <textarea></textarea>
          </div>
        </div>
        <div class="col-sm-12">
        <button type="submit" class="btn btn-contact btn-primary btn-block">Send </button>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
