<section class="what-we-do">

  <div class="container">


    <div class="row">
      <div class="col-md-8 offset-md-2">



    <h5>What we do</h5>
    <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
    magna</h3>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
    gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
</div>
      </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="ab-col text-center">
          <img src="../../assets/images/abt01.PNG">
          <h4>Lorem ipsum dolor</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
          magna</p>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="ab-col text-center">
          <img src="../../assets/images/abt02.PNG">
          <h4>Lorem ipsum dolor</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore
            magna</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="ab-col text-center">
          <img src="../../assets/images/abt03.PNG">
          <h4>Lorem ipsum dolor</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore
            magna</p>
        </div>
      </div>
    </div>

    <div class="callout-action">
      <img src="../../assets/images/abt04.PNG">
      <h3> Make your way with us. <br> Join our team.</h3>
      <a href="#" class="btn btn-outline"> Register </a>
    </div>
  </div>

</section>
