<div class="navigation animated fadeInDown navbar-dark bg-primary" id="navbar">
  <nav class="top-nav">
    <div class="container d-flex">
    <div class="mr-auto">
      <a class="getlocation" href="#"> <span class="icon_loc"><i class="las la-map-marker-alt"></i></span> Mangalore</a>
    </div>
    <div class="ml-auto">
      <ul class="list-inline">
        <li> <a href="#"> <i class="las la-store-alt"></i> register your buisiness</a> </li>
        <li> <a href="#"><i class="las la-sign-in-alt"></i> Login</a> </li>
      </ul>
    </div>
    </div>
  </nav>
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand" routerLink="/">
                <img src="../../../assets/images/logo.png" />
            </a>
            <button class="navbar-toggler" (click)="toggleHeaderBg()" type="button" data-toggle="collapse"
                data-target="#collapsibleNavbar">
              <i class="las la-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about-us" routerLinkActive="active">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/pricing" routerLinkActive="active">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>



