<section class="download-now">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

              <h3>Download Now</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
              dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
              book. It has survived not only five centuries,</p>

              <div class="download-link">
                <a href="#"> <img src="../../../assets/images/apple.jpg" alt=""> </a>
                <a href="#"> <img src="../../../assets/images/google.png" alt=""> </a>
              </div>

            </div>
            <div class="col-md-4">

            </div>

        </div>
    </div>
</section>
