
<section class="pricing-page">
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h3>Select plan for your business type</h3>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
      magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
      gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
    </div>
    </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-4">
          <ul class="pricing pricing-lable">
            <li class="pt-header"></li>
            <li class="pt-desc"></li>
            <li class="feature-header"> Features </li>
            <li> Shop name </li>
            <li>Shop address</li>
            <li>Shop front image</li>
            <li>Navigation</li>
            <li>About us</li>
            <li>Whats app chat with customer</li>
            <li>Shop timings</li>

            <li>Offer images</li>
            <li>Multiple images for one product</li>
            <li>Trending Offer- Home page</li>
            <li>Trending stores</li>
            <li>Trending Products</li>
            <li>Quick shopping</li>
            <li>Home Page customised advertisement</li>
            <li>Category list customised advertisement</li>
            <li>Inside category customised advertisement</li>
            <li>In between offers customised advertisement</li>
            <li>Customised tabs for offer promotion</li>
            <li>Notification</li>
            <li>Rewards</li>
            <li>Digital events (4 events in a year)</li>
            <li>Instagram, post promotion in MIO page</li>
            <li>FB, post promotion in MIO page</li>
          </ul>
      </div>
      <div class="col-lg-8 pricing-right">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <ul class="pricing p-selected">
          <li class="pt-header">
            <span class="p-title">Starter</span>
          </li>
          <li class="pt-desc">
            <h3>Free</h3>

            <div class="select-month">
              <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>1 Month</option>
                  <option>2 Month</option>
                  <option>3 Month</option>
                  <option>4 Month</option>
                  <option>5 Month</option>
                </select>
              </div>
            </div>

            <button class="btn btn-outline">Get Started</button>
          </li>
          <li class="feature-header"></li>
          <li><i class="las la-check"></i></li>
          <li><i class="las la-check"></i></li>
          <li><i class="las la-check"></i></li>
          <li><i class="las la-check"></i></li>
          <li><i class="las la-check"></i></li>
          <li><i class="las la-check"></i></li>
          <li><i class="las la-check"></i></li>

          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <ul class="pricing">
          <li class="pt-header">
            <span class="p-title">Basic</span>
          </li>
          <li class="pt-desc">
            <h3> 999<small>/Month</small> </h3>

            <div class="select-month">
              <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>1 Month</option>
                  <option>2 Month</option>
                  <option>3 Month</option>
                  <option>4 Month</option>
                  <option>5 Month</option>
                </select>
              </div>
            </div>

            <button class="btn btn-outline">Get Started</button>
          </li>
          <li class="feature-header"></li>
          <li><i class="las la-check"></i></li>
          <li><i class="las la-check"></i></li>
          <li><i class="las la-check"></i></li>
          <li><i class="las la-check"></i></li>
          <li><i class="las la-check"></i></li>
          <li><i class="las la-check"></i></li>
          <li><i class="las la-check"></i></li>

          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <ul class="pricing">
          <li class="pt-header">
            <span class="p-title">VIP</span>
          </li>
          <li class="pt-desc">
            <h3> 1499<small>/Month</small> </h3>

            <div class="select-month">
              <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>1 Month</option>
                  <option>2 Month</option>
                  <option>3 Month</option>
                  <option>4 Month</option>
                  <option>5 Month</option>
                </select>
              </div>
            </div>

            <button class="btn btn-outline">Get Started</button>
          </li>
          <li class="feature-header"></li>
          <li><i class="las la-check"></i></li>
          <li><i class="las la-check"></i></li>
          <li><i class="las la-check"></i></li>
          <li><i class="las la-check"></i></li>
          <li><i class="las la-check"></i></li>
          <li><i class="las la-check"></i></li>
          <li><i class="las la-check"></i></li>

          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <ul class="pricing">
          <li class="pt-header">
            <span class="p-title">Premium</span>
          </li>
          <li class="pt-desc">
            <h3> 2499<small>/Month</small> </h3>

            <div class="select-month">
              <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>1 Month</option>
                  <option>2 Month</option>
                  <option>3 Month</option>
                  <option>4 Month</option>
                  <option>5 Month</option>
                </select>
              </div>
            </div>

            <button class="btn btn-outline">Get Started</button>
          </li>
          <li class="feature-header"></li>
          <li><i class="las la-check"></i></li>
          <li><i class="las la-check"></i></li>
          <li><i class="las la-check"></i></li>
          <li><i class="las la-check"></i></li>
          <li><i class="las la-check"></i></li>
          <li><i class="las la-check"></i></li>
          <li><i class="las la-check"></i></li>

          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
          <li><i class="las la-times"></i></li>
        </ul>
      </div>
    </div>
      </div>
    </div>

  </div>

  <div class="container">
    <div class="add-plans">
    <h5>In addition to our Plans, we also offer</h5>
    <h4>All plans include</h4>
    <div class="row">
      <div class="col-sm-4">
        <div class="pm-list">
        <div class="pm-icon">
          <img src="../../assets/images/p-icon1.PNG">
        </div>
          <div class="pm-text">
            <h4>On demand support.</h4>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="pm-list">
          <div class="pm-icon">
            <img src="../../assets/images/p-icon1.PNG">
          </div>
          <div class="pm-text">
            <h4>On demand support.</h4>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
              dolore
              magna</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="pm-list">
          <div class="pm-icon">
            <img src="../../assets/images/p-icon1.PNG">
          </div>
          <div class="pm-text">
            <h4>On demand support.</h4>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
              dolore
              magna</p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

</section>
  <div class="callout-customer">
    <p> Need help? Call our support team at <a href="tel:+91 9876543210"> +91 9876543210 </a> </p>
  </div>

