<section class="contentsblock">
  <div class="container">
    <h3>Terms & Conditions</h3>
    <h5>Definitions</h5>
    <p><span style="font-weight:bold">Shipwaves:</span> The term Shipwaves represents Shipwaves Online Private Limited
      (Shipwaves), a company incorporated under the Companies Act, 2013, its affiliates, Directors, Shareholders,
      Authorized officers, Authorized Employees, and Authorized Agents</p>
    <p><span style="font-weight:bold">Enquirer:</span> The word Enquirer/s shall mean and include all such persons,
      whether acting in their individual capacity or on behalf of any entity, who send an enquiry to Shipwaves to avail
      their services and to whom, Shipwaves offers quotation along with these terms and conditions.</p>

    <h5>Applicability</h5>
    <p>This document containing the terms of use is attached to the quote, that is offered to the enquirer. The terms
      and conditions listed hereunder would apply on all the Enquirers and Shipwaves with respect to all the services
      offered by Shipwaves.</p>
    <h5>Cognizance and Acceptance of the Agreement</h5>
    <p>The Enquirer s shall be deemed to have read, understood and expressly consented to the covenants of this
      agreement, which shall be legally binding and govern all the transaction between the parties. The Enquirer shall
      be deemed to have availed the services of Shipwaves after understanding the legal and practical repercussions of
      the terms and conditions of this agreement.</p>
    <p>It is hereby clarified that the Enquirer s cannot accept this agreement in part or object to any provision of
      this agreement and in the event of any service of Shipwaves being availed by the Enquirers, they shall be deemed
      to have accepted this agreement in its entirety. In the event of disagreement with these terms of use, the only
      remedy available to Enquirer s is to not use or discontinue the use of this website.</p>

    <h5>Quotation</h5>
    <p>The quotation of various Third Party Shipping lines that may be communicated to the enquirers are only indicative
      in nature and are not binding either on Shipwaves or on Third Party Service Providers. Quotation for the purpose
      of law shall be construed as invitation to offer and not offer. Shipwaves and Third Party Service providers
      reserves the right to modify such quotations without prior notice and the same are subject to final acceptance
      being communicated to the Enquirers</p>

    <h5>Booking of Shipment Services</h5>
    <p>Shipwaves will, subsequent to the receipt of enquiry, communicate to the Enquirers, the quote applicable to such
      details. Shipwaves in addition to such quote may also furnish quotes of other incidental services like Custom
      House Agents, Insurance and Transport Providers in order to facilitate the complete transaction of shipment for
      Enquirer s. </p>
    <p>Enquirers, upon receiving the quote from Shipwaves, will have to within 14 days confirm their booking for the
      quote offered. Shipwaves reserves the liberty to modify the quote at any time on account of factors such as change
      in prices of Third party Service Providers, increase in tax or other duties. Any delay on part of the Enquirer to
      confirm the quote may result in inflated prices. Confirmation may be communicated to Shipwaves though e-mails, SMS
      or Phone Calls or in person.</p>
    <p>Upon the Enquirer confirming the quote, Shipwaves will communicate Delivery Order (DO) to the Enquirer subject to
      the delivery of the same by Third Party Service Provider. The DO will contain the Enquirer ’s name and details of
      booking as per the Service Provider and the same will be binding on the Enquirer. The DO will contain the cut-off
      date before the expiry of which, the Enquirer will be required to transport their goods to the port of departure,
      failing which the Enquirer may be required to pay fine for the delay or the transaction may stand forfeited as per
      the terms of Third Party Service Provider. </p>
    <p>The transaction will be binding as against the Enquirer, immediately after the confirmation of quote by the
      Enquirer. </p>

    <h5>Shipment of Goods</h5>
    <p>Upon final confirmation of booking by the Shipping Line (Third Party Service Provider) and payment of full
      consideration by the Enquirer, Shipwaves obligations under this agreement stands discharged. Any modification in
      the terms of booking by the Third Party Service Provider shall not be attributed to Shipwaves and the same will be
      guided by terms and conditions between the Enquirer and Third Party Service Provider</p>
    <p>The Enquirer understands well that Shipwaves is merely facilitating the transaction between the Enquirer and the
      Third Party Shipping line. The Bill of Lading and Delivery Order is binding on the Enquirer as against the Third
      Party Shipping line. The Enquirer is deemed to have consented to the terms of Delivery Order and Bill of Lading by
      confirming the quote. Accordingly, the Enquirer is prohibited from making any claim against Shipwaves with respect
      to the transaction of shipment. </p>
    <p>Shipwaves is not a party to the contract of Bill of Lading and is excluded from any kind of dispute and is immune
      to any liability that may arise between the Enquirer and the Shipping line. Shipwaves is not a party to any other
      contract or transaction that the Shipping line may have with the Enquirer. </p>
    <p>Demurrages accruing on account of the Third Party Shipping Line being unable to load the goods of the Enquirer
      will be governed by the terms and conditions of Third party shipping lines with the Enquirer; Shipwaves bears no
      responsibility towards the same. </p>
    <p>Third Party shipping line will either directly or through Shipwaves deliver the Bill of Lading to the Enquirer
      upon full payment of consideration.</p>
    <p>If the Enquirer fails to effect payment for shipment of goods within agreed due date, the Third Party Shipping
      Line stands authorized to auction the goods of Enquirer to recover the dues and should the value of goods fall
      short of the receivables of Third Party Shipping line and Shipwaves, a claim to recover the remaining dues will
      lie solely against the Enquirer. </p>
    <p>Documents required by the port of departure shall be duly furnished by the Enquirer within the specified period
      of time, failing which; Enquirer shall solely be responsible for repercussions arising out of it. </p>
    <p>Damages for any non- compliance on the part of Enquirer of a requirement specified by the Third party Shipping
      Line will solely be recovered from the Enquirer. </p>
    <p>Subject to the terms of this Agreement both parties are free to execute separate contracts with the Third Party
      Shipping Lines.</p>

    <h5>Intermediate Transport</h5>
    <p>If the enquirer opts for services of Shipwaves to book the transportation of the goods to be shipped from
      Enquirer ’s place to the Port, such services are distinct from and independent of the services pertaining to
      booking of containers for shipment of goods. Any claim, whether by the Enquirer or the third party Transport
      Provider between each other shall solely be settled against each other without making Shipwaves a party to it. The
      Enquirer s shall abide such terms and conditions as may be imposed by the Third Party Service Providers. </p>
    <h5>Customs</h5>
    <p>Custom House Agents may be appointed by the Enquirer independently or Shipwaves assistance in appointing a Custom
      House Agent may be sought by the Enquirer for complying with the custom requirement for shipment of goods.
      Shipment of Enquirer’s goods is subject to Custom’s clearance and any failure in complying with custom requirement
      shall solely be attributed to the Enquirer and no other entity in general and Shipwaves in particular shall be
      responsible for the same.</p>

    <h5>Insurance</h5>
    <p>Insuring the shipment of goods is completely the Enquirer’s prerogative and Shipwaves shall not be required to
      address any difficulty arising out of such scenarios. </p>
    <p>In the event of Enquirer booking an insurance policy with the assistance of Shipwaves, such policy will be as per
      the terms and conditions of the Insuring Company (Third Party Service Provider). Any insurance claim of buyer
      shall only lie against the insuring company and not against Shipwaves.</p>

    <h5>Pricing</h5>
    <p>The Enquirer shall solely be responsible to pay the charges, taxes, duties or fees for availing the services
      offered by Shipwaves.</p>
    <p>Shipwaves reserves it right to charge listing fee, processing fee, and commission in consideration for offering
      its e-commerce services, facilitating booking of containers. Shipwaves may in its sole discretion, without notice
      alter its prices at any point of time. </p>
    <p>Increase in price owing to increase in taxes of other duties, shall be borne by the Enquirer. </p>
    <p>Bill of lading will be issued only upon full payment of consideration by the Enquirer and not otherwise. </p>

    <h5>Booking, Modification and Cancellation</h5>
    <p>The booking of the Enquirers shall attain finality only upon final confirmation from the Third Party Service
      providers and not under any other circumstances. </p>
    <p>The booking details of the Enquirer may be modified by Shipwaves or Third Party Service Providers to suit the
      circumstantial need, if any with prior consent of the Enquirer. </p>
    <p>If the details or declarations of the enquirer are found to be incorrect upon verification by Shipwaves, the
      booking will, with immediate effect stand cancelled and losses, if any arising out of such false declaration to
      Shipwaves shall be indemnified by the Enquirer. </p>
    <p>Shipwaves bears no responsibility towards cancellation of the booking by the Third Party Service Providers.
      Shipwaves disclaims any implied or expressed warranty, whether oral or written, to ensure confirmation of the
      booking. Shipwaves is also not liable to replace the cancelled booking with an alternative booking. Any new
      booking effected by the Enquirer shall be treated as a new transaction. </p>

    <h5>Representations and Warranties</h5>
    <p>The Enquirer before using this website represent and warrant as follows:</p>
    <ul style="list-style-type:disc">
      <li>
        Enquirer is not infringing any third party right by this transaction.
      </li>
      <li>Enquirer is not violating any applicable law at any given point of time by availing the services of Shipwaves
      </li>
      <li>Enquirer is solely responsible for taxes, duties and other government charges that may be levied on this
        transactions as per law</li>
      <li>Enquirer is acting in his/her individual capacity or on behalf of a ‘Principal’ or ‘Employer‘, under valid and
        legally recognizable authorization. Enquirer shall not impersonate any third person</li>
      <li>The services of Shipwaves are being used or are intended to be used for lawful purposes and are not prohibited
        under any applicable law</li>
      <li>The documents submitted by the Enquirer are authentic, genuine and legally valid. </li>
      <li>Booking made on this website are non-transferable, unless otherwise expressly provided by Shipwaves. </li>
    </ul>

    <h5>Lien</h5>
    <p>Shipwaves shall have absolute authority to exercise general and continuing lien over the goods of the Enquirer
      coming into Shipwaves’ actual or constructive possession in order to realize the monetary dues from the Enquirer.
    </p>

    <h5>Liability</h5>
    <p>Without prejudice to provisions on limited liability in various clauses of this agreement, it is hereby clarified
      that Enquirer will be using the services of Shipwaves at his/her sole risk. Shipwaves liability is strictly and
      without any exception limited to the booking of various services and the same does not extend to the services per
      se, that are offered by Third Party service providers. The service offered by the Third Party service providers
      are solely guided and governed by the understanding between the Enquirer and Third Party Service Provider, where
      Shipwaves is not a party. </p>

    <h5>Indemnification</h5>
    <p>Enquirer shall indemnify, defend and hold Shipwaves harmless from losses, liabilities, costs, claims, damages,
      litigations, disputes or demands of any third party including but not limited to the Third Party Service
      Providers, arising out of, resulting from the breach or non-performance of any warranty, liability, obligation, or
      covenant of this agreement by Enquirer s. </p>

    <h5>Disclaimer of Warranties</h5>
    <p>Shipwaves expressly disclaims all warranties of any kind, whether express or implied. Any information or message,
      whether oral or written received by Enquirer from Shipwaves shall not tantamount any warranty or undertaking save
      as provided under this agreement.</p>

    <h5>Confidentiality</h5>
    <p>Any information, document or details transmitted by Shipwaves to the Enquirer shall be deemed to be confidential
      and the Enquirer shall exercise utmost care to protect the confidentiality of the same. Enquirer shall not
      disclose such confidential information to any third party unless required by law or to serve the purpose of the
      transaction. </p>

    <h5>Modification of the Terms and Conditions</h5>
    <p>Shipwaves at its discretion may at any time modify the terms and conditions of this agreement by giving a month’s
      notice in advance to the Enquirer. </p>

    <h5>Force Majeure</h5>
    <p>Shipwaves shall not be liable for any failure of or delay in the performance of this Agreement for the period
      that such failure or delay is due to causes beyond its reasonable control, including but not limited to acts of
      God, war, strikes or labor disputes, embargoes, government orders or any other force majeure event.</p>

    <h5>Dispute Resolution</h5>
    <p>Any dispute arising out of this transaction with Shipwaves shall be resolved amicably between the parties,
      failing which the dispute shall be resolved by Arbitration seated in Mangalore or Mumbai, as per the Indian
      Arbitration and Conciliation Act, 1996. In any other case, Mangalore Courts shall have the sole and exclusive
      jurisdiction to adjudicate on dispute between the parties to this agreement. </p>
  </div>
</section>