<section class="banner">
  <div class="container">
    <div class="row">
    <div class="col-lg-8 ">
      <div class="slider">
          <div id="bootstrapCarousel" class="carousel slide" data-ride="carousel">

            <ul class="carousel-indicators">
              <li data-target="#bootstrapCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#bootstrapCarousel" data-slide-to="1"></li>
              <li data-target="#bootstrapCarousel" data-slide-to="2"></li>
            </ul>

            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="../../assets/images/banner0.PNG">
              </div>
              <div class="carousel-item">
                <img
                   src="../../assets/images/banner0.PNG">
              </div>
              <div class="carousel-item">
                <img src="../../assets/images/banner0.PNG">
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col-lg-4 shop-cat-list">
    <div class="row">
      <div class="col-sm-6">
        <a class="shop-cat" href="#"> <img src="../../assets/images/armchair.svg"> <span> Hyper Mart </span>  </a>
      </div>
      <div class="col-sm-6">
            <a class="shop-cat" href="#"> <img src="../../assets/images/armchair.svg"> <span>  Dess Store </span> </a>
      </div>

      <div class="col-sm-6">
        <a class="shop-cat" href="#"> <img src="../../assets/images/armchair.svg"> <span> Hyper Mart </span> </a>
      </div>
      <div class="col-sm-6">
        <a class="shop-cat" href="#"> <img src="../../assets/images/armchair.svg"> <span> Dess Store </span> </a>
      </div>

      <div class="col-sm-6">
        <a class="shop-cat" href="#"> <img src="../../assets/images/armchair.svg"> <span> Footwear </span> </a>
      </div>
      <div class="col-sm-6">
        <a class="shop-cat" href="#"> <img src="../../assets/images/cutlery.svg"> <span> Restaurant </span></a>
      </div>

      <div class="col-sm-6">
        <a class="shop-cat" href="#"> <img src="../../assets/images/armchair.svg"> <span> Furniture </span> </a>
      </div>
      <div class="col-sm-6">
        <a class="shop-cat" href="#"> <img src="../../assets/images/shopping-bag.svg"> <span>  Hyper mart </span> </a>
      </div>

      <div class="col-sm-6">
        <a class="shop-cat" href="#"> <img src="../../assets/images/dress.svg"> <span> Dress Store </span> </a>
      </div>
      <div class="col-sm-6">
        <a class="shop-cat" href="#"> <img src="../../assets/images/armchair.svg"> <span>  More </span></a>
      </div>
    </div>
    </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="header">
      <h4>Quick shopping</h4>
    </div>
    <div class="card-list">
<div class="card-deck">
<div class="card card-b">
  <div class="card-img-wraper">
    <img class="card-img-top" src="../../assets/images/quick-shopping.PNG" alt="Card image cap">
  </div>
  <div class="card-body">
    <p class="card-title">Shoe Shop</p>
  </div>
</div>
<div class="card card-b">
  <div class="card-img-wraper">
    <img class="card-img-top" src="../../assets/images/quick-shopping.PNG" alt="Card image cap">
  </div>
  <div class="card-body">
    <p class="card-title">Shoe Shop</p>
  </div>
</div>
<div class="card card-b">
  <div class="card-img-wraper">
    <img class="card-img-top" src="../../assets/images/quick-shopping.PNG" alt="Card image cap">
  </div>
  <div class="card-body">
    <p class="card-title">Shoe Shop</p>
  </div>
</div>
<div class="card card-b">
  <div class="card-img-wraper">
    <img class="card-img-top" src="../../assets/images/quick-shopping.PNG" alt="Card image cap">
  </div>
  <div class="card-body">
    <p class="card-title">Shoe Shop</p>
  </div>
</div>
  <div class="card card-b">
    <div class="card-img-wraper">
    <img class="card-img-top" src="../../assets/images/quick-shopping.PNG" alt="Card image cap">
    </div>
    <div class="card-body">
      <p class="card-title">Shoe Shop</p>
    </div>
  </div>
</div>
<div class="more text-right">
  <a class="see_all" href="#"> See All </a>
</div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="header">
      <h4>MIO Add for Rewards</h4>
    </div>
    <div class="card-list">
      <div class="card-deck">

        <div class="card card-a">
          <div class="card-img-wraper">
            <img class="card-img-top" src="../../assets/images/rewards.PNG" alt="Card image cap">
          </div>
          <div class="card-body">
            <p class="card-title">Samsung LED HD TV</p>
            <div class="coins">900 coins</div>
            <a href="#" class="btn btn-primary"> claim </a>
          </div>
        </div>

        <div class="card card-a">
          <div class="card-img-wraper">
            <img class="card-img-top" src="../../assets/images/rewards.PNG" alt="Card image cap">
          </div>
          <div class="card-body">
            <p class="card-title">Samsung LED HD TV</p>
            <div class="coins">900 coins</div>
            <a href="#" class="btn btn-primary"> claim </a>
          </div>
        </div>

        <div class="card card-a">
          <div class="card-img-wraper">
            <img class="card-img-top" src="../../assets/images/rewards.PNG" alt="Card image cap">
          </div>
          <div class="card-body">
            <p class="card-title">Samsung LED HD TV</p>
            <div class="coins">900 coins</div>
            <a href="#" class="btn btn-primary"> claim </a>
          </div>
        </div>

        <div class="card card-a">
          <div class="card-img-wraper">
            <img class="card-img-top" src="../../assets/images/rewards.PNG" alt="Card image cap">
          </div>
          <div class="card-body">
            <p class="card-title">Samsung LED HD TV</p>
            <div class="coins">900 coins</div>
            <a href="#" class="btn btn-primary"> claim </a>
          </div>
        </div>
      </div>
      <div class="more text-right">
        <a class="see_all" href="#"> See All </a>
      </div>
    </div>
  </div>
</section>


<section class="download-now">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
      <div class="download-body">
        <h3>Download Now</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
          specimen
          book. It has survived not only five centuries,</p>

        <div class="download-link">
          <a href="#"> <img src="../../assets/images/apple.png" alt=""> </a>
          <a href="#"> <img src="../../../assets/images/google.png" alt=""> </a>
        </div>
      </div>
            </div>
            <div class="col-md-4 download-img">
      <div class="download-wraper">
        <img src="../../assets/images/download-app.PNG">
      </div>
      </div>

    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="header">
      <h4>Style for women</h4>
    </div>
    <div class="card-list">
      <div class="card-deck">
        <div class="card-a card">
          <div class="card-img-wraper">
            <img class="card-img-top" src="../../assets/images/clothing.PNG" alt="Card image cap">
          </div>
          <div class="card-body">
            <p class="card-title">Chothing</p>
          </div>
        </div>
        <div class="card card-a">
          <div class="card-img-wraper">
            <img class="card-img-top" src="../../assets/images/slipper.PNG" alt="Card image cap">
          </div>
          <div class="card-body">
            <p class="card-title">Shoe Shop</p>
          </div>
        </div>
        <div class="card card-a">
          <div class="card-img-wraper">
            <img class="card-img-top" src="../../assets/images/jwlr.PNG" alt="Card image cap">
          </div>
          <div class="card-body">
            <p class="card-title">Shoe Shop</p>
          </div>
        </div>
        <div class="card card-a">
          <div class="card-img-wraper">
            <img class="card-img-top" src="../../assets/images/slipper.PNG" alt="Card image cap">
          </div>
          <div class="card-body">
            <p class="card-title">Shoe Shop</p>
          </div>
        </div>

      </div>
      <div class="more text-right">
        <a class="see_all" href="#"> See All </a>
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="header">
      <h4>Smart Phone from top brand's</h4>
    </div>
    <div class="card-list">
      <div class="card-deck">
        <div class="card card-b">
          <div class="card-img-wraper">
            <img class="card-img-top" src="../../assets/images/mobile-01.PNG" alt="Card image cap">
          </div>
          <div class="card-body">
            <p class="card-title">Samsung</p>
          </div>
        </div>
        <div class="card card-b">
          <div class="card-img-wraper">
            <img class="card-img-top" src="../../assets/images/mobile-01.PNG" alt="Card image cap">
          </div>
          <div class="card-body">
            <p class="card-title">Samsung</p>
          </div>
        </div>
        <div class="card card-b">
          <div class="card-img-wraper">
            <img class="card-img-top" src="../../assets/images/mobile-02.PNG" alt="Card image cap">
          </div>
          <div class="card-body">
            <p class="card-title">Samsung</p>
          </div>
        </div>
        <div class="card card-b">
          <div class="card-img-wraper">
            <img class="card-img-top" src="../../assets/images/mobile-01.PNG" alt="Card image cap">
          </div>
          <div class="card-body">
            <p class="card-title">Samsung</p>
          </div>
        </div>
      </div>
      <div class="more text-right">
        <a class="see_all" href="#"> See All </a>
      </div>
    </div>
  </div>
</section>
