<footer>
    <div class="container">
      <div class="pre-footer">
        <div class="row">
          <div class="col-md-4">
            <div class="f-address">
              <div class="footer-logo">
                 <img src="../../../assets/images/footer-logo.PNG">
              </div>
              <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
              dummy text ever since the 1500s </p>
              <div class="sm">
                <ul>
                  <li> <a href="#"> <img src="../../../assets/images/facebook.svg"> </a></li>
                  <li> <a href="#"> <img src="../../../assets/images/twitter.svg"> </a></li>
                  <li> <a href="#"> <img src="../../../assets/images/instagram.svg"> </a></li>
                </ul>
              </div>
            </div>
          </div>
            <div class="col-md-2">
                <div class="footer-nav">

                    <ul>
                        <li>
                            <a href="/home"> Home </a>
                        </li>
                        <li>
                            <a href="/about-us"> About Us </a>
                        </li>
                        <li>
                          <a href="/contact-us"> Contact Us </a>
                        </li>
                        <li>
                            <a href="/pricing"> Pricing </a>
  </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-nav">
                    <ul>

                              <li>
                                <a href="#"> privacy policy </a>
                              </li>
                              <li>
                                <a href="#"> Terms & condition </a>
                              </li>
                              <li>
                                <a href="#"> disclaimer </a>
                              </li>
                    </ul>
                </div>
            </div>
                <div class="col-md-auto">

                    <h6>Download Now</h6>
                      <div class="download-link">
                        <a href="#"> <img src="../../assets/images/apple.png" alt=""> </a>
                        <a href="#"> <img src="../../../assets/images/google.png" alt=""> </a>
                      </div>

                </div>
        </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="copyright-wraper">
                <div class="copyright-block">
                    <p> &copy; 2020, Shipwaves Online Pvt. Ltd.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
